#text {
	font-family: helvetica-bold;
	font-size: 200px;
	text-align: center;
	color:black;
	}

a.title:link {
	color: black;
	text-decoration: none;
	}
	#text {
		font-family: helvetica-bold;
		font-size: 200px;
		text-align: center;
		color:black;
		}

	a.title:link {
		color: black;
		text-decoration: none;
		}

	a.title:hover {
		color: black;
		text-shadow: 10px 10px pink;
		}

	a.title:visited {
		color: black;
		text-decoration: none;
		}

	a.title:active {
		color: black;
		text-decoration: none;
		}




	.link {
		text-align: center;
		font-family: helvetica-bold;
		font-size: 50px;
		line-height: 100px;
		position:fixed;

		animation-name: ani2;
		animation-duration: 12s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: linear;

		}

	.link2 {
		text-align: center;
		font-family: helvetica-bold;
		font-size: 50px;
		line-height: 100px;
		position:fixed;

		animation-name: ani2;
		animation-duration: 11s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: linear;

		}

	.link3 {
		text-align: center;
		font-family: helvetica-bold;
		font-size: 50px;
		line-height: 100px;
		position:fixed;

		animation-name: ani2;
		animation-duration: 10s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: linear;
		}

	.link4 {
		text-align: center;
		font-family: helvetica-bold;
		font-size: 50px;
		line-height: 100px;
		position:fixed;

		animation-name: ani2;
		animation-duration: 9s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: linear;
		}

	.link5 {
		text-align: center;
		font-family: helvetica-bold;
		font-size: 50px;
		line-height: 100px;
		position:fixed;

		animation-name: ani2;
		animation-duration: 8s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: linear;
		}

	.link6 {
		text-align: center;
		font-family: helvetica-bold;
		font-size: 50px;
		line-height: 100px;
		position:fixed;

		animation-name: ani2;
		animation-duration: 7s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: linear;
		}

	.link7 {
		text-align: center;
		font-family: helvetica-bold;
		font-size: 50px;
		line-height: 100px;
		position:fixed;

		animation-name: ani2;
		animation-duration: 6s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: linear;
		}

	.link8 {
		text-align: center;
		font-family: helvetica-bold;
		font-size: 50px;
		line-height: 100px;
		position:fixed;

		animation-name: ani2;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: linear;
		}

	.link9 {
		text-align: center;
		font-family: helvetica-bold;
		font-size: 50px;
		line-height: 100px;
		position:fixed;

		animation-name: ani2;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: linear;
		}

	@keyframes ani1 {
	    from { margin-right: 90%;
	}
	    to   {  margin-left: 90%;
	}
	}

	@keyframes ani2 {
	    from { margin-left: 90%;
	}
	    to   {  margin-right: 90%;
	}
	}

	a:link {
		color: pink;
		text-decoration: none;
		}

	a:visited {
		color: pink;
		text-decoration: none;
		}

	a:hover {
		color: black;
		text-shadow: 2px 2px pink;
		}


	a:active {
		color: pink;
		text-decoration: none;
		}
